a:link {
  color: black;
}

a:visited {
  color: red;
}

a:active {
  color: green;
}

a:hover {
  color: yellow;
}

a:focus {
  color: white;
}

input:focus {
  background-color: black;
  color: white;
}